.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 97vw;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #FFF;
    font-size: 2rem;
    text-align: center;
}

.nav a {
    color: #424242;
    text-decoration: none;
}